<app-internal-loader></app-internal-loader>
<main class="theme-color-bg-light-yellow">
    <section class="masthead mastheadblog theme-color-bg-yellow">
        <div class="container main-section">
            <div class="row row-y-gap mt-3">
                <!-- Text Section -->
                <div class="col-12 col-lg-6 col-xl-6 d-flex align-items-center pe-lg-5" *ngIf="latestBlog">
                    <div class="content pe-lg-3">
                        <h2 class="heading">Latest Insights</h2>
                        <h1 class="mt-3">{{ latestBlog.title }}</h1>
                        <div class="paragraph">
                            <!-- <p>{{ latestBlog.summary }}</p> -->
                            <button class="btn mt-3" (click)="openLatestBlog()">Read More</button>
                        </div>
                    </div>
                </div>
                <!-- Image Section -->
                <div class="col-12 col-lg-6 col-xl-6 position-relative mt-3 mt-lg-0" *ngIf="latestBlog">
                    <div class="img-wrapper">
                        <img [src]="latestBlog.img" class="img-fluid" alt="{{ latestBlog.title }}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="shape">
            <svg class="background-img d-none d-lg-block" width="977" height="730" viewBox="0 0 784 520"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M986 729L0 728.999L371.612 243.136L411.345 0L937.26 1.58645e-05L558.368 337.688L986 729Z"
                    fill="#FFCF24" />
            </svg>

        </div>

    </section>



    
<section class="blog-list-outer" [ngStyle]="getBlogListStyle()">     
    <div class="container blog-list">
        <div class="head d-flex flex-column align-items-center text-center">
            <h2 class="mb-5">All Blogs</h2>
        </div>
        <div class="row gy-4" [ngClass]="{'opacity-0': isRestoringScroll}">
            <div class="col-12 col-md-6 col-xl-4" *ngFor="let blog of blogs">
                <div class="blog-card d-flex flex-column" (click)="navigateToBlog(blog.url)">
                    <div class="card-img">
                        <img [src]="blog.img" class="img-fluid flex-shrink-0" alt="{{ blog.title }}">
                    </div>
                    <div class="card-body">
                        <div class="date-time">
                            <div class="day">{{ blog.formattedDate }}</div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
                                <circle cx="2.5" cy="2.5" r="2.5" fill="#979797"/>
                            </svg>
                            <div class="time">{{ blog.timeToRead }} min read</div>
                        </div>
                        <h5 class="blog-card-title">{{ blog.title }}</h5>
                        <div class="description-blog">
                            <p class="card-text">{{ blog.summary }}</p>
                            <button class="btn-sm" (click)="navigateToBlog(blog.url)">Read More</button>
                        </div>
                        
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</section>

</main>

