@import '../../bootstrap-imports';

.masthead {
  background: #c7e2fe;
}

.section-subheading {
  h2 {
    padding: 0;
    @include media-breakpoint-up(lg) {
      max-width: 75%;
    }
  }
  .heading-tag {
    text-transform: uppercase;  
    margin-right: 12px;
  }
}
.award{
  border-radius: 12px;
}

.img-wrapper {
  max-width: 100%;
  aspect-ratio: 538/305;
  padding: 0;
  margin-top: 36px;

  @include media-breakpoint-up(lg) {
    padding: 0 64px;
    margin-top: 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 97px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.heading {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #666;
  width: fit-content;
  margin-bottom: 16px;
  padding-bottom: 10px;
}


.about-banner {
  font-size: 14px;
  font-weight: 500;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }

}

.image-carousel {
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scrollLoop 20s linear infinite;
}

.carousel-set {
  display: flex;
  gap: 75px;
  align-items: center;
}


.carousel-image-1 {
  flex: 0 0 auto;
  max-height: 500px;
  object-fit: cover;
}

.carousel-image-2 {
  flex: 0 0 auto;
  max-height: 300px;
  object-fit: cover;
}


.last-original {
  margin-right: 75px;
}

/* Responsive Gaps */
@media (max-width: 991.98px) {
  .carousel-set {
    gap: 40px;
  }

  .last-original {
    margin-right: 40px;
  }
}

@media (max-width: 575.98px) {
  .carousel-set {
    gap: 24px;
  }

  .last-original {
    margin-right: 24px;
  }
}

/* Keyframes for Infinite Scroll */
@keyframes scrollLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


.carousel-container {
  margin: 40px 0 0;

  @include media-breakpoint-up(md) {
    margin: 80px 0 0;
  }
}


.our-vision {
  background: #121212;
}

.vision-header {
  padding-bottom: 24px;
  border-bottom: 0.5px solid #DDE1E3;
  color:#fff;
  @include media-breakpoint-up(lg) {
    padding-bottom: 40px;
  }
}

.ist-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;

  @include media-breakpoint-up(md) {
    padding-right: 40px;
  }

  @include media-breakpoint-up(lg) {
    padding-right: 80px;
  }
}

.ist-col-header {
  color: #fff;
}

.motivation {
  color: #cccccc;
  font-size: 14px;
  margin-bottom: 28px;

  @include media-breakpoint-up(md) {
    font-size: 16px;
    margin-bottom: 40px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
    margin-bottom: 80px;
  }
}

.our-progress {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #cccccc;
}

.our-progress h2 {
  color: #fff;
}

.our-modulas h3 {
  color: #fff;
}

.our-modulas p {
  color: #cccccc;
}

.our-modulas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-market {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
}

.our-market h2 {
  color: #fff;
}

.vision-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-breakpoint-up(lg) {
    gap: 80px;
  }
}



//recognisations part of code 

.recognisations {
  background-color: #fafafa;
}

.recognisations-wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include media-breakpoint-up(lg) {
    gap: 54px;
  }
}

.recognisations-header {
  max-width: 700px;
}

// company styles 


.card-content .description {
  color: #666;
}

.anarish-header {
  font-weight: 600;
  color: #121212;
}

.about-anarish {
  font-size: 16px;
  color: #121212;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

// our values styles
.icon {
  background: #C7E2FE;
  border-radius: 50%;

  @include media-breakpoint-up(md){
    padding: 4px;
  }
}
.wrapper{
  min-height: 100px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.difference {
  background-color: #121212;
  p {
    color: #ccc;
  }
  .difference-icon {
    padding: 4px;
    background: #C7E2FE;
    border-radius: 50%;
  }
}

.spacer {
  @include media-breakpoint-up(lg) {
    padding-right: 30px;
  }
}

.custom-img {
  border-radius: 12px;
  width: 100%; 
  height: auto; 
  display: block;
}
