<app-internal-loader></app-internal-loader>
<main class="">
    <section class="masthead">
        <div class="container">
            <div class="row">
                <!-- Left Content -->
                <div class=" col-12 col-lg-6 col-xl-6 d-flex flex-column justify-content-center pe-lg-5 gap-4">
                    <div>
                        <p class="heading">About Us</p>
                        <h1 class="About-header mb-0">
                            We don't just create designs we engineer experiences.
                        </h1>
                    </div>
                    <div class="about-banner">
                        Built with passion, driven by purpose, and dedicated to making a difference. Every pixel, every
                        interaction is thoughtfully engineered to leave a lasting impact.
                    </div>
                </div>

                <!-- Right Image -->
                <div class="col-12 col-lg-6 col-xl-6 ">
                    <div class="img-wrapper">
                        <img alt="anarsih" src="/assets/img/about-us/Hero banner 01.webp" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-mission">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <div class="section-subheading">
                        <h2>
                            <span class="section-heading-tag heading-tag">Our Mission</span>
                            Driving results for modern businesses through transformative, user-centric digital
                            solutions.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class=" overflow-hidden carousel-container">
                        <div class="image-carousel ">
                            <div class="carousel-track">
                                <div class="carousel-set d-flex">
                                    <img src="/assets/img/about-us/01.webp" class="carousel-image-1 img-fluid"
                                        alt="Image 1">
                                    <img src="/assets/img/about-us/02.webp" class="carousel-image-2 img-fluid"
                                        alt="Image 2">
                                    <img src="/assets/img/about-us/03.webp" class="carousel-image-1 img-fluid"
                                        alt="Image 3">
                                    <img src="/assets/img/about-us/05.webp" class="carousel-image-2 img-fluid"
                                        alt="Image 4">
                                    <img src="/assets/img/about-us/06.webp" class="carousel-image-2 img-fluid"
                                        alt="Image 5">
                                    <img src="/assets/img/about-us/07.webp" class="carousel-image-1 img-fluid"
                                        alt="Image 6">
                                    <img src="/assets/img/about-us/08.webp"
                                        class="carousel-image-2 img-fluid last-original" alt="Image 7">

                                </div>
                                <!-- Original Set -->


                                <!-- Duplicate Set for Infinite Loop -->
                                <div class="carousel-set d-flex">
                                    <img src="/assets/img/about-us/01.webp" class="carousel-image-1 img-fluid"
                                        alt="Image 1">
                                    <img src="/assets/img/about-us/02.webp" class="carousel-image-2 img-fluid"
                                        alt="Image 2">
                                    <img src="/assets/img/about-us/03.webp" class="carousel-image-1 img-fluid"
                                        alt="Image 3">
                                    <img src="/assets/img/about-us/05.webp" class="carousel-image-2 img-fluid"
                                        alt="Image 4">
                                    <img src="/assets/img/about-us/06.webp" class="carousel-image-2 img-fluid"
                                        alt="Image 5">
                                    <img src="/assets/img/about-us/07.webp" class="carousel-image-1 img-fluid"
                                        alt="Image 6">
                                    <img src="/assets/img/about-us/08.webp"
                                        class="carousel-image-2 img-fluid last-original" alt="Image 7">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-vision">
        <div class="container">
            <div class="vision-wrapper">
                <div class="row">
                    <div class="col-12 section-subheading vision-header">
                        <h2>
                            <span class="section-heading-tag heading-tag text-white">Our Vision</span>
                            Creating Exceptional User Experiences That Redefine Tech Interactions.
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-12 ist-col mb-4 mb-lg-0">
                        <h3 class="ist-col-header">EMPOWERING SUCCESS STORIES</h3>
                        <img src="/assets/img/about-us/04.webp" class="img-fluid" alt="CHRO-Summit-2025">
                    </div>

                    <div class="col-lg-6 col-xl-6  col-12">

                        <p class="motivation">Every success begins with a vision — and we’re proud to be part of so
                            many.
                            From startups to
                            enterprises, our collaborations have sparked transformation, driven results, and empowered
                            teams
                            to reach new heights. Explore how our partnerships have turned challenges into achievements
                            and
                            ideas into impact.</p>

                        <div class="our-progress ">

                            <div class=" our-modulas">
                                <div class="col-6">
                                    <p class="mb-3 h2 text-white">250+</p>
                                    <h3>Modules Completed</h3>
                                </div>
                                <div class="col-6">
                                    <p>Extensive experience in crafting scalable, intuitive interfaces for complex
                                        digital ecosystems—enhancing usability and driving product success.</p>
                                </div>
                            </div>
                        </div>

                        <div class="our-market ">
                            <div class=" our-modulas">
                                <div class="col-6">
                                    <p class="mb-3 h2 text-white">12+</p>

                                    <h3>Markets Covered</h3>
                                </div>
                                <div class="col-6">
                                    <p>Designed and implemented solutions tailored to diverse user needs, ensuring
                                        cultural relevance, intuitive interaction, and seamless usability.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="our-values">
        <div class="container">
            <div class="recognisations-wrapper">
                <div class="row">
                    <div class="col-12">
                        <p class="section-heading-tag">Our Values</p>
                        <h2 class="recognisations-header">Inspired by People. Driven by Innovation.</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5 card-col px-lg-4 ">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">

                                <div class="icon">
                                    <img src="/assets/img/about-us/Human.svg" alt="human" class="img-fluid">
                                </div>
                                <p class="h4">Human-centered</p>
                            </div>
                            <p class="pb-4">We design with empathy, putting real people at the heart of every
                                decision.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5  card-col  px-lg-4">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">
                                <div class="icon">
                                    <img src="/assets/img/about-us/creativity.svg" alt="creativity" class="img-fluid">

                                </div>
                                <p class="h4">Creativity & Innovation </p>
                            </div>
                            <p class="pb-4">
                                We challenge the ordinary to craft bold, original solutions that move ideas forward.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5 card-col px-lg-4">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">
                                <div class="icon">
                                    <img src="/assets/img/about-us/colloboration.svg" alt="colloboration"
                                        class="img-fluid">

                                </div>
                                <p class="h4">Collaboration & Partnership</p>
                            </div>
                            <p class="pb-4">
                                We grow stronger together, building lasting relationships rooted in trust and shared
                                vision.
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5  card-col px-lg-4 ">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">
                                <div class="icon">
                                    <img src="/assets/img/about-us/quality.svg" alt="quality" class="img-fluid">

                                </div>
                                <p class="h4">Quality & Excellence </p>
                            </div>
                            <p class="pb-4">
                                We strive for nothing less than exceptional—delivering work that stands the test of
                                time.
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5 px-lg-4 card-col ">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">
                                <div class="icon">
                                    <img src="/assets/img/about-us/integrity.svg" alt="integrity" class="img-fluid">

                                </div>
                                <p class="h4">Integrity & Ethical </p>
                            </div>
                            <p class="pb-4">
                                We do what’s right, not what’s easy—guided by honesty, transparency, and moral
                                principles.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5 px-lg-4 card-col ">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">
                                <div class="icon">
                                    <img src="/assets/img/about-us/addaptability.svg" alt="adaptability"
                                        class="img-fluid">

                                </div>
                                <p class="h4">Adaptability & Flexibility </p>
                            </div>
                            <p class="pb-4">
                                We stay agile and open to change, turning challenges into opportunities with confidence.
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-6 col-xl-4 col-md-6 col-12 mb-4 mb-lg-5 px-lg-4 card-col ">
                        <div class="wrapper  d-flex flex-column gap-3">
                            <div class="icon-card d-flex gap-3 align-items-center">
                                <div class="icon">
                                    <img src="/assets/img/about-us/Continous-learning.svg" alt="Continous-learning"
                                        class="img-fluid">

                                </div>
                                <p class="h4">Continuous Learning & Growth </p>
                            </div>
                            <p class="pb-4">
                                We embrace curiosity and change, constantly evolving to stay ahead and do better.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="difference bg-color-primary">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4  col-xl-4 mb-5 mb-lg-0">
                    <p class="section-heading-tag"> What Makes Us Different From Others</p>
                    <h2 class="text-white">As a UI/UX design agency, we offer </h2>

                </div>
                <div class="col-12 col-lg-8  col-xl-8 ">
                    <div class="row ps-lg-5 ps-md-3">
                        <div
                            class="col-xl-6 col-lg-6 col-md-6 col-12 mb-4 mb-lg-5  d-flex flex-column gap-3 align-items-start pe-md-3 pe-lg-4">
                            <div class="icon-card d-flex flex-column gap-3 align-items-start">
                                <div class="difference-icon d-flex flex-column gap-3 align-items-start">

                                    <img src="/assets/img/about-us/understanding.svg" alt="understanding"
                                        class="img-fluid">
                                </div>
                                <p class="h4">Understanding SAAS Workflows</p>
                            </div>
                            <p class="">We have designed systems that power real operations. We know
                                how to translate complex business logic into intuitive user experiences.
                            </p>
                        </div>


                        <div
                            class="col-xl-6 col-lg-6 col-md-6 col-12 mb-4 mb-lg-5  d-flex flex-column gap-3 align-items-start ps-md-3 ps-lg-4">
                            <div class="icon-card d-flex flex-column gap-3 align-items-start">
                                <div class="difference-icon d-flex flex-column gap-3 align-items-start">
                                    <img src="/assets/img/about-us/creativity.svg" alt="creativity" class="img-fluid">
                                </div>
                                <p class="h4">Design That Supports Growth</p>
                            </div>
                            <p class="">Whether you're launching an MVP or improving retention, we
                                design scalable interfaces that grow with your product .
                            </p>
                        </div>


                        <div
                            class="col-xl-6 col-lg-6 col-md-6 col-12 mb-4 mb-lg-5 d-flex flex-column gap-3 align-items-start  pe-md-3 pe-lg-4">
                            <div class="icon-card d-flex flex-column gap-3 align-items-start">
                                <div class="difference-icon d-flex flex-column gap-3 align-items-start">
                                    <img src="/assets/img/about-us/user.svg" alt="user" class="img-fluid">
                                </div>
                                <p class="h4">User-Centered, Data-Informed</p>
                            </div>
                            <p class="">We combine user research, competitive benchmarking, best
                                practices to create experiences that people actually want to use.
                            </p>
                        </div>

                        <div
                            class="col-xl-6 col-lg-6 col-md-6 col-12 mb-4 mb-lg-5 d-flex flex-column gap-3 align-items-start ps-lg-4 ps-md-3">
                            <div class="icon-card d-flex flex-column gap-3 align-items-start">
                                <div class="difference-icon d-flex flex-column gap-3 align-items-start">
                                    <img src="/assets/img/about-us/trust.svg" alt="trust" class="img-fluid">

                                </div>
                                <p class="h4">Trusted by SaaS Teams</p>
                            </div>
                            <p class="">Clients across HR, education, and finance trust us to solve
                                the right problems — with clarity, speed, and thoughtful design.
                            </p>
                        </div>


                        <div
                            class="col-xl-6 col-lg-6 col-md-6 col-12 mb-4 mb-md-0 d-flex flex-column gap-3 align-items-start  pe-md-3 pe-lg-4">
                            <div class="icon-card d-flex flex-column gap-3 align-items-start">
                                <div class="difference-icon d-flex flex-column gap-3 align-items-start">
                                    <img src="/assets/img/about-us/handshake.svg" alt="handshake" class="img-fluid">

                                </div>
                                <p class="h4">Fast, Collaborative Process</p>
                            </div>
                            <p class="">We move fast with purpose offering clear communication,
                                structured processes, design that balances business goals with great UX.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="recognisations">
        <div class="container">
            <div class="recognisations-wrapper">
                <div class="row">
                    <div class="col-12">
                        <p class="section-heading-tag">Recognitions and Acknowledgments</p>
                        <h2 class="recognisations-header">Fueled by Passion, Driven by Purpose, Recognized by the Best
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-xl-4 col-md-6 col-12 mb-4 mb-md-0  p-4 d-flex flex-column">
                        <img src="assets/img/about-us/Certificate.webp" alt="certificate1"
                            class="img-fluid custom-img">
                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-6 col-12 mb-4 mb-md-0 p-4">
                        <img src="assets/img/about-us/certificate2.webp" alt="certificate2"
                            class="img-fluid custom-img">

                    </div>
                    <div class="col-lg-4 col-xl-4 col-md-6 col-12 mb-4 mb-md-0 p-4">
                        <img src="assets/img/about-us/certificate3.webp" alt="certificate3"
                            class="img-fluid custom-img">

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="company">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-xl-5 col-md-5 col-12 mb-5 mb-md-0 ">
                    <img src="/assets/img/about-us/anarish.webp" alt="company" class="img-fluid custom-img">

                </div>

                <div
                    class="col-lg-7 col-xl-7 col-md-7 col-12 align-items-start ps-lg-5 ps-md-3">
                    <p class="section-heading-tag">Career Opportunities</p>
                    <div class=" d-flex flex-column gap-4 align-items-start">
                    <h2 class="anarish-header mb-0">Grow Smarter. Lead Brighter. With Anarish.</h2>
                    <p class="about-anarish">
                        At Anarish, we empower individuals and teams to unlock their full potential. Whether you're
                        building bold ideas, refining your craft, or driving impactful change, we’re here to support
                        your journey. Through innovation, collaboration, and a shared commitment to excellence, we help
                        you grow with purpose, create with passion, and lead with confidence.
                    </p>

                    <a type="button" class="btn-link mt-4 d-inline-block" [routerLink]="['/contact-us']">
                        Join Our Team
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#121212"
                                stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>