

.contract {
    color: #121212;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 100px;
    border: 1px solid #000;
    margin-top: auto;
    background-color: transparent;
    text-decoration: none;
}
.contract:hover{
    color: white;
    background-color: black;
}

.link{
    color: #3165de;
    text-decoration: none;
    border-bottom: 1px solid #3165de;
}

.highlight {
    border-left: 4px solid #3165de;
    padding: 0 0 0 20px;
}
p{
    letter-spacing: 0.3px;
}
.paralist{
    line-height: 1.4;
}
.contact-cta{
    letter-spacing: 0.3px;
}

.number {
    font-size: 22px;
    font-weight: 700;
   }
   
.heading-text{
    font-size: 30px;
}

@media (min-width: 1440px) {
    .heading-text {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.3;
    }
}

@media (min-width: 1024px) {
   .heading-text {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    }
}
@media (min-width: 768px) {
   .heading-text {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    }
}
@media (max-width: 767px) {
   .heading-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    }
}


/** Common styles to be used in all blogs **/
section {
   padding: 0 0 2.25rem;
}

.blog-content section:last-of-type {
   padding:0;
}

h2,
h3,
h4 {
   margin-bottom: 16px;
   font-weight: 600;
   color: #121212;
}

@media (min-width:1200px) {
   .blog-content-wrapper h2 {
      font-size: 1.5rem;
   }
}

@media (min-width:1200px) {
   .blog-content-wrapper h3 {
      font-size: 1.1rem;
      font-weight: 600;
   }
}

ul,
ol {
   padding-left: 24px;
   li {
      margin-bottom: 8px;
   }
}



section:last-child {
  margin-bottom: 0 !important; /* only affects last section */
}
/** Common styles to be used in all blogs Ends here**/
  