<main class="theme-color-bg-light-yellow">
    <section class="masthead theme-color-bg-light-blue">
        <div class="container">
            <div class="row row-y-gap">
                <div class="col-12 col-lg-6 col-xxl-5 d-flex flex-column  pe-lg-5">
                    <div class="dropdown custom-dropdown mb-4">
                        <button
                          class="btn btn-light dropdown-toggle custom-btn"
                          type="button"
                          id="caseStudyDropdown"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">
                          All Case Studies
                        </button>
                      
                        <ul class="dropdown-menu dropdown-menu-light p-3 shadow rounded-4 border-0" aria-labelledby="caseStudyDropdown">
                          <li class="mb-2">
                            <a href="/services/customer-relationship-management-system"
                               class="custom-dropdown-item d-flex align-items-center gap-3 rounded-3 text-decoration-none text-dark p-2">
                              <div class="icon-box bg-orange">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27" fill="none">
                                    <g clip-path="url(#clip0_4164_5077)">
                                      <path d="M10.1278 13.5721C10.0248 13.507 9.93775 13.4195 9.87313 13.3161C9.80851 13.2128 9.76796 13.0962 9.7545 12.9751C9.74104 12.854 9.75501 12.7313 9.79537 12.6163C9.83573 12.5013 9.90145 12.3969 9.98766 12.3107L14.625 7.8125H18.6469L18.6184 7.67336L13 6.1875L7.38156 7.67336L4.0625 14.3125L9.75 18.375L16.25 20L20.3125 15.9375L16.25 12.6875C14.3203 14.6304 11.9062 14.7086 10.1278 13.5721Z" fill="#FFB68B"/>
                                      <path d="M20.3125 15.9375L16.25 20L9.75 18.375L4.0625 14.3125" stroke="#CD6F40" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M7.38159 7.67336L13 6.1875L18.6185 7.67336" stroke="#CD6F40" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M3.49092 6.63629L0.899041 11.8221C0.802716 12.0147 0.786798 12.2377 0.854784 12.442C0.922771 12.6463 1.0691 12.8153 1.26162 12.9118L4.06271 14.3124L7.38178 7.67325L4.5817 6.27371C4.48628 6.22586 4.38236 6.19728 4.27589 6.1896C4.16942 6.18193 4.06247 6.19531 3.96118 6.22898C3.85988 6.26265 3.76621 6.31596 3.68552 6.38584C3.60483 6.45573 3.5387 6.54084 3.49092 6.63629Z" stroke="#CD6F40" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M21.9375 14.3124L24.7386 12.9118C24.9311 12.8153 25.0774 12.6463 25.1454 12.442C25.2134 12.2377 25.1975 12.0147 25.1011 11.8221L22.5093 6.63629C22.4615 6.54084 22.3954 6.45573 22.3147 6.38584C22.234 6.31596 22.1403 6.26265 22.039 6.22898C21.9377 6.19531 21.8308 6.18193 21.7243 6.1896C21.6178 6.19728 21.5139 6.22586 21.4185 6.27371L18.6184 7.67325L21.9375 14.3124Z" stroke="#CD6F40" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M18.6872 7.8125H14.6247L9.98739 12.3107C9.90118 12.3969 9.83546 12.5013 9.7951 12.6163C9.75474 12.7313 9.74078 12.854 9.75424 12.9751C9.7677 13.0962 9.80824 13.2128 9.87286 13.3161C9.93748 13.4195 10.0245 13.507 10.1275 13.5721C11.9059 14.7086 14.32 14.6304 16.2497 12.6875L20.3122 15.9375L21.9372 14.3125" stroke="#CD6F40" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M12.5998 22.4375L8.36266 21.3782L5.6875 19.4668" stroke="#CD6F40" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                      <clipPath id="clip0_4164_5077">
                                        <rect width="26" height="26" fill="white" transform="translate(0 0.5)"/>
                                      </clipPath>
                                    </defs>
                                  </svg>                              </div>
                              <div>
                                <div class="fw-bold">CRMS</div>
                                <small class="text-muted">Boost learner engagement</small>
                              </div>
                            </a>
                          </li>
                      
                          <li class="mb-2">
                            <a href="/services/hr-management-system"
                               class="custom-dropdown-item d-flex align-items-center gap-3 rounded-3 text-decoration-none text-dark p-2">
                              <div class="icon-box bg-blue">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="27" viewBox="0 0 26 27" fill="none">
                                    <g clip-path="url(#clip0_4164_5092)">
                                      <path d="M5.6875 2.9375V24.0625H10.5625V19.1875H15.4375V24.0625H20.3125V2.9375H5.6875Z" fill="#5185F6"/>
                                      <path d="M2.4375 24.0625H23.5625" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M5.6875 2.9375V24.0625" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M20.3125 24.0625V2.9375" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M9.75 7H11.375" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M14.625 7H16.25" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M9.75 11.0625H11.375" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M14.625 11.0625H16.25" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M9.75 15.125H11.375" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M14.625 15.125H16.25" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M10.5625 24.0625V19.1875H15.4375V24.0625" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M4.0625 2.9375H21.9375" stroke="#11388C" stroke-width="1.625" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                      <clipPath id="clip0_4164_5092">
                                        <rect width="26" height="26" fill="white" transform="translate(0 0.5)"/>
                                      </clipPath>
                                    </defs>
                                  </svg>                              </div>
                              <div>
                                <div class="fw-bold">HRMS</div>
                                <small class="text-muted">Boost learner engagement</small>
                              </div>
                            </a>
                          </li>
                      
                          <li>
                            <a href="/services/learning-management-system"
                               class="custom-dropdown-item d-flex align-items-center gap-3 rounded-3 text-decoration-none text-dark p-2">
                              <div class="icon-box bg-purple">
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                                    <g clip-path="url(#clip0_4164_5119)">
                                      <path d="M10.5301 14.5005H3.34593C3.20568 14.5005 3.07118 14.4448 2.97202 14.3456C2.87285 14.2464 2.81714 14.1119 2.81714 13.9717V3.39597C2.81714 3.25573 2.87285 3.12123 2.97202 3.02207C3.07118 2.9229 3.20568 2.86719 3.34593 2.86719H13.9217C14.0619 2.86719 14.1964 2.9229 14.2956 3.02207C14.3947 3.12123 14.4504 3.25573 14.4504 3.39597V10.5802C14.4504 10.7203 14.3947 10.8546 14.2958 10.9537L10.9036 14.3458C10.8045 14.4448 10.6702 14.5004 10.5301 14.5005Z" fill="#B48CEF" stroke="#3B2F87" stroke-width="1.05757" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M14.4503 10.7988H10.7488V14.5003L14.4503 10.7988Z" fill="#3B2F87"/>
                                      <path d="M6.51831 6.56836H10.7486" stroke="#3B2F87" stroke-width="1.05757" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M6.51831 8.68262H10.7486" stroke="#3B2F87" stroke-width="1.05757" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M6.51831 10.7988H8.63346" stroke="#3B2F87" stroke-width="1.05757" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M14.3896 10.5H10.9998V13.8904" stroke="#3B2F87" stroke-width="0.981132" stroke-linecap="round" stroke-linejoin="round"/>
                                    </g>
                                    <defs>
                                      <clipPath id="clip0_4164_5119">
                                        <rect width="15.6981" height="15.6981" fill="white" transform="translate(0.364014 0.414062)"/>
                                      </clipPath>
                                    </defs>
                                  </svg>                              </div>
                              <div>
                                <div class="fw-bold">LMS</div>
                                <small class="text-muted">Boost learner engagement</small>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                      
                      
                    <div class="pe-lg-3">
                        <h1 class="heading">
                            Learning Management System
                        </h1>
                        <h1 class="intro-header mt-3">
                            Empowering Growth: Streamlining Learning Journeys
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Product
                            </span>
                            <span class="badge rounded-pill badge-anarish me-3">
                                Product Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Product development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-7 position-relative mt-3 mt-lg-0">
                    <div class="img-wrapper">
                        <picture>
                            <!-- <source srcset="assets/img/portfolio/lms/dashboard1.avif" type="image/avif"> -->
                            <img src="assets/img/portfolio/lms/dashboard1.webp"  class="img-fluid" alt="lms">
                          </picture>
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-xl-block " width="977" height="730" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-1 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2>
                            Unified Platform for All Your Learning Needs
                        </h2>
                        <p class="description">The modern, user-friendly LMS aims to enhance the learning
                            experience for individuals of all ages, streamline administrative tasks for educators, and
                            facilitate effective online education delivery.
                        </p>
                        <ul class="">
                            <li>
                                Addressing Needs Across All Ages
                            </li>
                            <li>
                                Content Management
                            </li>
                            <li>
                                Plug and play micro app
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="">
                        <img src="../../assets/img/portfolio/lms/LMS.webp" width="580.226px" height="325px"
                            class="img-fluid" alt="unified platform" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="specifications ">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-2 d-flex align-items-center mt-3 mt-lg-0">
                    <div class="what-we-provide">
                        <h2 class="mb-4">
                            What We Provide
                        </h2>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <h3>Functionality</h3>
                                <p>The core features and capabilities that meet user needs and
                                    expectations.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Usability</h3>
                                <p>Intuitive and easy to navigate user interface across various devices
                                    that enhances user experience.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Performance</h3>
                                <p>Efficient use of resources and responsiveness to user commands.</p>
                            </li>
                            <!-- <li class="mb-3">
                                <h3>Security</h3>
                                <p>Protection of data and prevention of unauthorized access or breaches.
                                </p>
                            </li> -->
                            <li class="mb-3">
                                <h3>Maintainability</h3>
                                <p>Ease of updating, fixing bugs, and adapting to changing requirements
                                    over time.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-12 col-lg-6 order-lg-1 ">
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <video playsinline src="assets/img/portfolio/lms/LMS-animation.mp4" autoplay loop muted alt=""
                            class="img-fluid" type="video/mp4"></video>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-lg-1 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2 class="mb-4">
                            Shaping the Next-Gen Training Experience
                        </h2>
                        <!-- <p class="description"><span class="fw-bold">Leveraging LMS for Effective Training in Challenging Environments</span></p> -->
                        <ul class="list-unstyled d-flex flex-column gap-1 mt-3">
                            <li class="mb-3">
                                <h3>Adaptive Virtual Training</h3>
                                <p> LMS is utilized to provide specialized training in challenging settings.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Engaging Learning Experiences</h3>
                                <p> Interactive and tailored learning experiences meet specific needs and overcome
                                    constraints.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Uninterrupted Skill Development</h3>
                                <p> LMS ensures continuous education and skill-building, even in remote or hazardous
                                    conditions.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Progress Tracking</h3>
                                <p> Real-time monitoring, assessments, and feedback via LMS promote ongoing improvement.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="img d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/portfolio/lms/visionary.png" alt="visionary Outlook"
                            class="img-fluid" />
                    </div>

                </div>
            </div>
        </div>
    </section>


    
   
</main>