@import '../../bootstrap-imports';

.masthead {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    .breadcrumb {
        border-bottom: 1px solid black;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .background-img {
        position: absolute;
        left: 40%;
        top: -10%;
        z-index: 1;
        fill: #fff;
    }
}
.current-page{
  font-weight: 600;
}

.badges-wrapper {
  flex-wrap: wrap;
}

.badge-work {
    color: #000;
    margin-top: 0.5rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.21px;
    padding: 5px 10px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
    border-radius: 999px;
    white-space: nowrap;

    @media (min-width: 768px) {
        font-size: 12px;
        padding: 6px 12px;
    }

    @include media-breakpoint-up(xl) {
        padding: 6px 12px;
        font-size: 14px;
    }
}


.work {
  @include media-breakpoint-up(lg) {
    padding: 80px 64px;
  }
}

@media (max-width: 767px) {
  .work {
    padding: 40px 0;
  }
}

.section-header {
  font-weight: 600;
}

.work {
  background-color: #fafafa;
}

.our-work {
  margin-bottom: 12px;
}

.our-work p {
  color: #1c6dbe;
  font-size: 16px;
  font-weight: 600;
}

.btn-cap {
 

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.data{
    font-weight: 600;
    margin-bottom: 0;
}
.head{
    color: #666666;
    font-weight: 600;
}
.detail-section{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px 0;

    @include media-breakpoint-up(lg){
        gap: 32px;
    }
}

// Responsive: Always 2 columns for detail-section below 992px
@media (max-width: 991px) {
  .detail-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.75rem 0.75rem;
    .wrap {
      &.services-wrap {
        grid-column: 1 / -1;
      }
    }
  }
  .detail-section .head {
    font-size: 0.75rem;
    margin-bottom: 4px ;
  }
  .detail-section .data {
    font-size: 0.875rem;
    line-height: 1.3;
  }
}


.card {
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-items: start;
  flex-direction: column;
  border: 1px solid #ebebeb;
}


.back-link {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid #121212;
  color: #121212;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0;
}
.back-link span {
  text-decoration: none;
}

.wrapper img{
  border-radius: 8px;
}

/* === Testimonials Section === */
.testimonials-section {
  .section-subtext {
    font-size: var(--fs-16);
    color: var(--color-muted);
  }

  .testimonial-card {
    max-width: 32.5rem;
    float: right;

    .stars {
      font-size: var(--fs-18);
      letter-spacing: 0.1875rem;
    }

    .review-text {
      font-size: var(--fs-16);
      line-height: 1.6;
      color: var(--color-foreground);
      max-width: 26.25rem;
    }

    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      background: #ddd;
        margin-right: 0.75rem;
    }

    .position {
      color: #555;
    }
  }
}