<main class="theme-color-bg-white">
  <section class="masthead strategy">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-6 d-flex flex-column mb-4 mb-lg-0">
          <div class="outer">
            <div class="breadcrumb">
              <p><a routerLink="/strategy">Strategy</a> > <span class="current-page">Brand Strategy</span></p>
            </div>
            <h1>Building Brands That Resonate</h1>
            <p class="sub-heading">
              We help businesses create clarity, structure, and action plans
              that increase engagement, conversions, and overall impact.
            </p>

            <button class="btn btn-primary btn-style" routerLink="/contact-us">
              Book Your Strategy Call
            </button>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 position-relative mt-3 mt-lg-0">
          <div class="img-cap">
            <picture>
              <img src="/assets/img/main/strategy/Strategy page hero banner image.webp"
                class="img-fluid strategy-banner" alt="Brand Strategy Consulting" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="brand-strategy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-12">
          <img src="/assets/img/main/strategy/Building Brands (1).webp" class="img-fluid"
            alt="UX Strategy consulting that demands creativity with strategy" />
        </div>
        <div class="col-lg-6 col-xl-6 col-12 brand-strategy-inner-col">
          <div class="one">
            <p class="service-para">Brand Strategy</p>
            <h2 class="service-header section-header">
              Building Brands That Resonate—And Stand the Test of Time
            </h2>
            <p class="service-inner-para">
              Our Brand Strategy services help businesses uncover their true
              voice, define their positioning, and connect meaningfully with
              their audience. Whether you're launching a new brand or evolving
              an existing one, we focus on crafting authentic identities, clear
              messaging, and differentiated value propositions that inspire
              loyalty and drive growth.
            </p>
          </div>
          <div class="two">
            <p class="h4">Where Purpose Meets Presence</p>
            <p class="service-inner-para">
              Through research-driven insights and creative thinking, we ensure
              every element of your brand feels intentional, cohesive, and
              impactful—laying a strong foundation for long-term success.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="Brand-strategy-2 theme-color-bg-dark">
    <div class="container">
      <div class="cover">
        <div class="row">
          <div class="col-12">
            <p class="service-para">Our Approach</p>
          </div>
          <div class="col-lg-6 col-12 col-xl-6 col-md-6">
            <h2 class="slide-2-header section-header">
              Where Research meets Strategic Design Thinking
            </h2>
          </div>
          <div class="col-lg-6 col-12 col-xl-6 col-md-6 slide-2-col">
            <p class="slide-2-para">
              We create strategic foundations to elevate brands. Using insights,
              journey mapping, and audits, we reveal what matters to your
              audience. Our approach aligns design decisions with your brand's
              purpose.
            </p>

            <button type="button" class="btn btn-link btn-contact" [routerLink]="['/contact-us']">
              Let's Build Together
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#FFF" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path
                  d="M14.5 24C20.0228 24 24.5 19.5228 24.5 14C24.5 8.47715 20.0228 4 14.5 4C8.97715 4 4.5 8.47715 4.5 14C4.5 19.5228 8.97715 24 14.5 24Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M21.5703 21.0703L28.4991 27.9991" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Brand Discovery & Research</p>
            </div>
            <div class="card-para">
              <p>
                We begin with research-driven workshops to uncover your brand's
                mission, vision, values, and target audience.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path d="M4.5 22L16.5 29L28.5 22" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M4.5 16L16.5 23L28.5 16" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M4.5 10L16.5 17L28.5 10L16.5 3L4.5 10Z" stroke="#343330" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Audience & Market Analysis</p>
            </div>
            <div class="card-para">
              <p>
                We evaluate competitor positioning and audience behavior to
                identify gaps and opportunities.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path d="M13.5 13V26" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M4.5 13H28.5" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path
                  d="M27.5 6H5.5C4.94772 6 4.5 6.44772 4.5 7V25C4.5 25.5523 4.94772 26 5.5 26H27.5C28.0523 26 28.5 25.5523 28.5 25V7C28.5 6.44772 28.0523 6 27.5 6Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="text-white h4 mb-0">Brand Purpose & Positioning</p>
            </div>
            <div class="card-para">
              <p>
                We define your brand's unique value proposition and establish a
                distinct space in the market.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path
                  d="M16.5 28C23.1274 28 28.5 22.6274 28.5 16C28.5 9.37258 23.1274 4 16.5 4C9.87258 4 4.5 9.37258 4.5 16C4.5 22.6274 9.87258 28 16.5 28Z"
                  stroke="#343330" stroke-width="2" stroke-miterlimit="10" />
                <path d="M22 16L14 11V21L22 16Z" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Messaging & Voice Development</p>
            </div>
            <div class="card-para">
              <p>
                We shape your brand voice and messaging pillars to ensure
                consistent and compelling communication.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="work">
    <div class="container">
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 gap-md-2 mb-4 mb-md-0">
        <div class="work-header">
          <div class="our-work">
            <p>Our Work</p>
          </div>
          <h2 class="section-header">Impactful Brand Strategy Case Studies</h2>
        </div>

        <a type="button" class="btn-link mt-4 d-inline-block" [routerLink]="['/portfolio']">
          View All
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#121212" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
      </div>

      <div class="section-content mt-3 mt-xl-5">
        <div class="row">
          <div class="col-12 col-xl-6 col-lg-6 mb-4" *ngFor="let card of brandData; trackBy: trackById">
            <div class="card rounded-4 h-100">
              <div class="bg-light rounded-4">
                <ng-container *ngIf="card.id === 'autonativeai'; else imageBlock">
                  <video #portfolioVideo class="w-100 rounded-4" autoplay muted loop playsinline>
                    <source src="/assets/img/main/strategy/Autonerve-AI-Animation.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                </ng-container>

                <ng-template #imageBlock>
                  <img [src]="card['bg-img']" [alt]="card.title" class="img-fluid w-100 d-none d-md-block" />
                  <img [src]="card.img" [alt]="card.title" class="img-fluid w-100 d-block d-md-none" />
                </ng-template>
              </div>

              <div class="p-4">
                <h4 class="fw-bold mb-2">{{ card.title }}</h4>
                <p class="text-muted mb-3">{{ card.summary }}</p>

                <div class="badges-wrapper d-flex gap-2">
                  <div class="badge badge-work" *ngFor="let tag of card.tags">
                    {{ tag }}
                  </div>
                </div>

                <a class="btn-link mt-4 d-inline-block" [routerLink]="['/portfolio', card.url.slice(1)]"
                  (click)="onCaseStudyClick(card.id)">
                  View Case Study
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#121212" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>