.contract {
    color: #121212;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 100px;
    border: 1px solid #000;
    margin-top: auto;
    background-color: transparent;
    text-decoration: none;
}

.contract:hover {
    color: white;
    background-color: black;
}

.link {
    color: #3165de;
    text-decoration: none;
    border-bottom: 1px solid #3165de;
}

.highlight {
    border-left: 4px solid #3165de;
    padding: 0 0 0 10px;
}

.paralist {
    line-height: 1.4;
}

.contact-cta {
    letter-spacing: 0.3px;
}







@media (min-width: 768px) {
    .heading-text {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3;
    }
}

@media (max-width: 767px) {
    .heading-text {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.3;
    }
}

@media (max-width: 550px) {
    .join-us {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.blog-img {
    border-radius: 2px;
}
@media (min-width:576px){

.blog-img {
    max-width: 452px;
}
}

