@import '../../bootstrap-imports';

// View More button modifier
.btn-view-more {
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom-width: 2px;
}

.opacity-0 {
  opacity: 0 !important;
  transition: opacity 0.15s ease-in;
}
// Ensure badges wrap on mobile view
.badges-wrapper.d-flex.gap-2.mb-3 {
  flex-wrap: wrap;
}
.masthead {
  position: relative;
  overflow: hidden;
  background-color: #c4b1f9;
  .background-img {
    position: absolute;
    left: 40%;
    top: -10%;
    z-index: 1;
    fill: #8468D1;
  }
}


.card{
    border-radius: 1rem;
            // padding: 2.5rem 2rem 0;
            overflow: hidden;
            display: flex;
            align-items: start;
            flex-direction: column;
            border: 1px solid #ebebeb;

    .bg-light {
      aspect-ratio: 538/305;
      overflow: hidden;
    
    }

    h4 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.4;
    }

    .text-muted {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.6;
    }
}

.work{
  background-color: #fff;
  
}

.our-work p {
    color: #1c6dbe;
    font-size: 16px;
    font-weight: 600;
}
.badges-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, max-content));
    gap: 0.5rem;
}

.btn-link {
  text-align: left;
  padding-left: 0;
  width: fit-content;
}

.badge-work {
    color: #000;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.21px;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
    border-radius: 999px;
    white-space: nowrap;

    @include media-breakpoint-up(xl) {
        padding: 4px 8px;
        font-size: 14px;
    }
}

.main-col{
  @include media-breakpoint-up(lg){
    max-width: 50%;
  }
}