<div class="card-container" [ngClass]="{'no-margin': noMarginBottom}">
  <div class="card-left">
    <h2 class="card-heading">Got an Idea? Let’s Bring It to Life Together</h2>
  </div>
  <div class="card-right">
    <p class="card-description">
      We specialize in turning your ideas into innovative solutions. Whether you’re looking to create a brand,
      develop a website, or launch an app, our team is ready to collaborate and bring your vision to reality.
    </p>
    <button class="card-button" [routerLink]="'/contact-us'">Start Building Today</button>
  </div>
</div>
