<app-internal-loader></app-internal-loader>
<main class="theme-color-bg-white">
  <section class="masthead strategy">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-6 d-flex flex-column mb-4 mb-lg-0">
          <div class="outer">
            <div class="breadcrumb">
              <p><a routerLink="/design">Design</a> > <span class="current-page">UI/UX Design</span></p>
            </div>
              <h1>Design That Moves Users</h1>
              <p class="sub-heading">
                As a trusted UI UX design agency, we specialize in creating
                digital experiences that are intuitive, visually engaging, and
                built to achieve real business results.
              </p>
            
            <button class="btn btn-primary btn-style" routerLink="/contact-us">
              Book Your Strategy Call
            </button>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 position-relative mt-3 mt-lg-0">
          <div class="img-cap">
            <picture>
              <img
                src="/assets/img/main/Design.webp"
                class="img-fluid"
                alt="UI/UX Design"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="uiux-design">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-12">
          <img
            src="/assets/img/main/design/Design That Moves.webp"
            class="img-fluid"
            alt="Design"
          />
        </div>
        <div class="col-lg-6 col-xl-6 col-12 brand-strategy-inner-col">
          <div class="one">
            <p class="section-heading-tag">UI/UX Design</p>
            <h2 class="service-header section-header">
              UI UX Design for Every Business
            </h2>
            <p class="service-inner-para">
              We design and develop custom web applications that solve real
              business challenges—combining cutting-edge technology with
              intuitive user experiences. Whether you need to streamline
              operations, engage users, or scale your digital infrastructure,
              our solutions are built to deliver measurable results.
            </p>
          </div>
          <div class="two">
            <p class="h4">Where Empathy Meets Execution</p>
            <p class="service-inner-para">
              Our process is rooted in deep user understanding, ensuring every
              pixel serves a purpose. From startups to global brands, we design
              digital products that feel intuitive, effortless, and—above
              all—human.
            </p>
          </div>
          <a
            type="button"
            class="btn-link mt-4 d-inline-block"
            [routerLink]="['/contact-us']"
          >
            Let's Build Together
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
            >
              <path
                d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5"
                stroke="#121212"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="Brand-strategy-2 theme-color-bg-dark">
    <div class="container">
      <div class="cover">
        <div class="row">
          <div class="col-12">
            <p class="section-heading-tag">What we offer</p>
          </div>
          <div class="col-lg-6 col-12 col-xl-6 col-md-6">
            <h2 class="slide-2-header section-header">
              Comprehensive UI UX Design Services
            </h2>
          </div>
          <div class="col-lg-6 col-12 col-xl-6 col-md-6 slide-2-col">
            <p class="slide-2-para">
              Our approach combines user research, creative strategy, and the
              latest design tools to craft websites, mobile apps, and enterprise
              platforms that feel effortless to use.
            </p>

            <button
              type="button"
              class="btn btn-link btn-contact"
              [routerLink]="['/contact-us']"
            >
              Let's Build Together
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="25"
                viewBox="0 0 24 25"
                fill="none"
              >
                <path
                  d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5"
                  stroke="#FFF"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="33"
                height="32"
                viewBox="0 0 33 32"
                fill="none"
              >
                <path
                  d="M14.5 24C20.0228 24 24.5 19.5228 24.5 14C24.5 8.47715 20.0228 4 14.5 4C8.97715 4 4.5 8.47715 4.5 14C4.5 19.5228 8.97715 24 14.5 24Z"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21.5703 21.0703L28.4991 27.9991"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Design Discovery</p>
            </div>
            <div class="card-para">
              <p>
                We design systems that power operations. We translate complex
                logic into intuitive experiences.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="33"
                height="32"
                viewBox="0 0 33 32"
                fill="none"
              >
                <path
                  d="M4.5 22L16.5 29L28.5 22"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4.5 16L16.5 23L28.5 16"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M4.5 10L16.5 17L28.5 10L16.5 3L4.5 10Z"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Systems</p>
            </div>
            <div class="card-para">
              <p>
                Whether you're launching an MVP or improving retention, we
                design scalable interfaces that grow with your product.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="33"
                height="32"
                viewBox="0 0 33 32"
                fill="none"
              >
                <path
                  d="M20.5 8V7C20.5 6.46957 20.2893 5.96086 19.9142 5.58579C19.5391 5.21071 19.0304 5 18.5 5H6.5C5.96957 5 5.46086 5.21071 5.08579 5.58579C4.71071 5.96086 4.5 6.46957 4.5 7V19C4.5 19.5304 4.71071 20.0391 5.08579 20.4142C5.46086 20.7893 5.96957 21 6.5 21H7.5"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.5 11H26.5C27.6046 11 28.5 11.8954 28.5 13V25C28.5 26.1046 27.6046 27 26.5 27H14.5C13.3954 27 12.5 26.1046 12.5 25V13C12.5 11.8954 13.3954 11 14.5 11Z"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Wireframes & Prototypes</p>
            </div>
            <div class="card-para">
              <p>
                We visualize flows, test assumptions, and refine designs before
                development begins—saving time and reducing risk.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="33"
                height="32"
                viewBox="0 0 33 32"
                fill="none"
              >
                <path
                  d="M28.5 11H4.5C3.39543 11 2.5 11.8954 2.5 13V25C2.5 26.1046 3.39543 27 4.5 27H28.5C29.6046 27 30.5 26.1046 30.5 25V13C30.5 11.8954 29.6046 11 28.5 11Z"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16.5 11V6C16.5 5.73478 16.3946 5.48043 16.2071 5.29289C16.0196 5.10536 15.7652 5 15.5 5H11.5C11.2348 5 10.9804 5.10536 10.7929 5.29289C10.6054 5.48043 10.5 5.73478 10.5 6V11"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M16.5 23C18.1569 23 19.5 21.6569 19.5 20C19.5 18.3431 18.1569 17 16.5 17C14.8431 17 13.5 18.3431 13.5 20C13.5 21.6569 14.8431 23 16.5 23Z"
                  stroke="#343330"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">UI/UX Audit</p>
            </div>
            <div class="card-para">
              <p>
                We assess your existing product, highlight friction points, and
                suggest actionable improvements to enhance usability.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="work">
    <div class="container">
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 gap-md-2 mb-4 mb-md-0"
      >
        <div class="work-header">
          <div class="our-work">
            <p>Our Work</p>
          </div>
          <h2 class="section-header">UI/UX Design Success Stories</h2>
        </div>

        <a
          type="button"
          class="btn-link mt-4 d-inline-block"
          [routerLink]="['/portfolio']"
        >
          View All
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
          >
            <path
              d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5"
              stroke="#121212"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
      <div class="section-content mt-3 mt-xl-5">
        <div class="row">
          <div
            class="col-12 col-xl-6 col-lg-6 mb-4"
            *ngFor="let card of uiuxData; trackBy: trackById"
          >
            <div class="card rounded-4 h-100">
              <div class="bg-light rounded-4">
                <ng-container
                  *ngIf="card.id === 'autonativeai'; else imageBlock"
                >
                  <video
                    #portfolioVideo
                    class="w-100 rounded-4"
                    autoplay
                    muted
                    loop
                    playsinline
                  >
                    <source
                      src="/assets/img/main/strategy/Autonerve-AI-Animation.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support the video tag.
                  </video>
                </ng-container>

                <ng-template #imageBlock>
                  <img
                    [src]="card['bg-img']"
                    [alt]="card.title"
                    class="img-fluid w-100 d-none d-md-block"
                  />
                  <img
                    [src]="card.img"
                    [alt]="card.title"
                    class="img-fluid w-100 d-block d-md-none"
                  />
                </ng-template>
              </div>

              <div class="p-4">
                <h4 class="fw-bold mb-2">{{ card.title }}</h4>
                <p class="text-muted mb-3">{{ card.summary }}</p>

                <div class="badges-wrapper d-flex gap-2">
                  <div class="badge badge-work" *ngFor="let tag of card.tags">
                    {{ tag }}
                  </div>
                </div>

                <a
                  class="btn-link mt-4 d-inline-block"
                  [routerLink]="['/portfolio', card.url.slice(1)]"
                  (click)="onCaseStudyClick(card.id)"
                >
                  View Case Study
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="25"
                    viewBox="0 0 24 25"
                    fill="none"
                  >
                    <path
                      d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5"
                      stroke="#121212"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
