<main class="theme-color-bg-white">
  <section class="masthead strategy">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-6 d-flex flex-column mb-4 mb-lg-0">
          <div class="outer">
            <div class="breadcrumb">
              <p><a routerLink="/strategy">Strategy</a> > <span class="current-page">UX Strategy</span></p>
            </div>
            <h1>UX Strategy That Connects Users</h1>
            <p class="sub-heading">
              We help businesses create clarity, structure, and action plans
              that increase engagement, conversions, and overall impact.
            </p>
            <button class="btn btn-primary btn-style" routerLink="/contact-us">
              Book Your Strategy Call
            </button>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 position-relative mt-3 mt-lg-0">
          <div class="img-cap">
            <picture>
              <img src="/assets/img/main/strategy/Strategy page hero banner image.webp"
                class="img-fluid strategy-banner" alt="UX Strategy Consulting" />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="ux-strategy">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-12 ux-strategy-inner-ist-col">
          <div class="one">
            <p class="service-para">UX Strategy</p>
            <h2 class="service-header section-header">
              Our Research-Driven UX Strategy
            </h2>
            <p class="service-inner-para">
              Our UX Strategy services are built to bridge the gap between
              business goals and user needs. Through deep research, journey
              mapping, and experience audits, we help create intuitive,
              efficient, and delightful interactions that keep users engaged and
              businesses growing.
            </p>
          </div>
          <div class="two">
            <p class="h4">Where Insight Drives Interaction</p>
            <p class="service-inner-para">
              By understanding real user behaviors and motivations, we design
              strategic experiences that feel effortless and human—ensuring
              every touchpoint is purposeful, seamless, and aligned with your
              vision.
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-xl-6 col-12 Ux-Strategy-Inner-second-col">
          <img src="/assets/img/main/strategy/Designing Experiences.webp" class="img-fluid"
            alt="Building UX Strategy" />
        </div>
      </div>
    </div>
  </section>

  <section class="Brand-strategy-2 theme-color-bg-dark">
    <div class="container">
      <div class="cover">
        <div class="row">
          <div class="col-12">
            <p class="service-para">Our Approach</p>
          </div>
          <div class="col-lg-6 col-12 col-xl-6 col-md-6">
            <h2 class="slide-2-header section-header">
              Our Process for Exceptional UX Strategy
            </h2>
          </div>
          <div class="col-lg-6 col-12 col-xl-6 col-md-6 slide-2-col">
            <p class="slide-2-para">
              Our UX strategy aligns user needs with business goals—shaping
              smart, intuitive experiences built on real insights and
              purpose-driven thinking.
            </p>

            <button type="button" class="btn btn-link btn-contact" [routerLink]="['/contact-us']">
              Let's Build Together
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#FFF" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path d="M25.5 19L20.5 24L12.5 22L5.5 17" stroke="#343330" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M9.58594 8.82875L16.5009 7L23.4159 8.82875" stroke="#343330" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M4.79561 7.55236L1.60561 13.9349C1.48706 14.1719 1.46747 14.4463 1.55114 14.6978C1.63482 14.9493 1.81491 15.1573 2.05186 15.2761L5.49936 16.9999L9.58436 8.82861L6.13811 7.10611C6.02067 7.04721 5.89277 7.01204 5.76173 7.00259C5.63069 6.99314 5.49907 7.00961 5.37439 7.05105C5.24972 7.09249 5.13443 7.1581 5.03512 7.24412C4.93581 7.33013 4.85442 7.43488 4.79561 7.55236Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M27.4991 16.9999L30.9466 15.2761C31.1835 15.1573 31.3636 14.9493 31.4473 14.6978C31.531 14.4463 31.5114 14.1719 31.3928 13.9349L28.2028 7.55236C28.144 7.43488 28.0626 7.33013 27.9633 7.24412C27.864 7.1581 27.7487 7.09249 27.624 7.05105C27.4994 7.00961 27.3677 6.99314 27.2367 7.00259C27.1056 7.01204 26.9778 7.04721 26.8603 7.10611L23.4141 8.82861L27.4991 16.9999Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M23.5006 9H18.5006L12.7931 14.5363C12.687 14.6423 12.6061 14.7709 12.5564 14.9124C12.5067 15.054 12.4896 15.2049 12.5061 15.354C12.5227 15.5031 12.5726 15.6465 12.6521 15.7737C12.7316 15.9009 12.8388 16.0086 12.9656 16.0888C15.1543 17.4875 18.1256 17.3912 20.5006 15L25.5006 19L27.5006 17"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.0075 27L10.7925 25.6963L7.5 23.3438" stroke="#343330" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Stakeholder Alignment</p>
            </div>
            <div class="card-para">
              <p>
                We understand your business goals, product vision, and user
                expectations through workshops.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path
                  d="M16.5 20C20.9183 20 24.5 16.4183 24.5 12C24.5 7.58172 20.9183 4 16.5 4C12.0817 4 8.5 7.58172 8.5 12C8.5 16.4183 12.0817 20 16.5 20Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4.5 27C6.92125 22.8162 11.3187 20 16.5 20C21.6813 20 26.0787 22.8162 28.5 27" stroke="#343330"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">User Research</p>
            </div>
            <div class="card-para">
              <p>
                We gather insights from your target audience and industry to
                shape evidence-based UX strategies.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path
                  d="M25.5 28C27.1569 28 28.5 26.6569 28.5 25C28.5 23.3431 27.1569 22 25.5 22C23.8431 22 22.5 23.3431 22.5 25C22.5 26.6569 23.8431 28 25.5 28Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M9.5 7H21.5C22.5609 7 23.5783 7.42143 24.3284 8.17157C25.0786 8.92172 25.5 9.93913 25.5 11C25.5 12.0609 25.0786 13.0783 24.3284 13.8284C23.5783 14.5786 22.5609 15 21.5 15H9.5C8.17392 15 6.90215 15.5268 5.96447 16.4645C5.02678 17.4021 4.5 18.6739 4.5 20C4.5 21.3261 5.02678 22.5979 5.96447 23.5355C6.90215 24.4732 8.17392 25 9.5 25H22.5"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Experience Mapping</p>
            </div>
            <div class="card-para">
              <p>
                We map the user experience across touchpoints, noting pain
                points and opportunities.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12 cards">
            <div class="card-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
                <path
                  d="M16.5 28C23.1274 28 28.5 22.6274 28.5 16C28.5 9.37258 23.1274 4 16.5 4C9.87258 4 4.5 9.37258 4.5 16C4.5 22.6274 9.87258 28 16.5 28Z"
                  stroke="#343330" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M22.5 10L14.5 14L10.5 22L18.5 18L22.5 10Z" stroke="#343330" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="card-header">
              <p class="h4 text-white mb-0">Focus On Innovation</p>
            </div>
            <div class="card-para">
              <p>
                UX strategy aims to create value for both customers and the
                business by merging cost-effectiveness with differentiation for
                positive ROI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="work">
    <div class="container">
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center gap-2 gap-md-2 mb-4 mb-md-0">
        <div class="work-header">
          <div class="our-work">
            <p>Our Work</p>
          </div>
          <h2 class="section-header">Impactful UX Strategy Case Studies</h2>
        </div>

        <a type="button" class="btn-link mt-4 d-inline-block" [routerLink]="['/portfolio']">
          View All
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#121212" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </a>
      </div>
      <div class="section-content mt-3 mt-xl-5">
        <div class="row">
          <div class="col-12 col-xl-6 col-lg-6 mb-4" *ngFor="let card of uxData; trackBy: trackById">
            <div class="card rounded-4 h-100">
              <div class="bg-light rounded-4">
                <ng-container *ngIf="card.id === 'autonative-ai'; else imageBlock">
                  <video #portfolioVideo class="w-100 rounded-4" autoplay muted loop playsinline>
                    <source src="/assets/img/main/strategy/Autonerve-AI-Animation.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                </ng-container>

                <ng-template #imageBlock>
                  <img [src]="card['bg-img']" [alt]="card.title" class="img-fluid w-100 d-none d-md-block" />
                  <img [src]="card.img" [alt]="card.title" class="img-fluid w-100 d-block d-md-none" />
                </ng-template>
              </div>

              <div class="p-4">
                <h4 class="fw-bold mb-2">{{ card.title }}</h4>
                <p class="text-muted mb-3">{{ card.summary }}</p>

                <div class="badges-wrapper d-flex gap-2">
                  <div class="badge badge-work" *ngFor="let tag of card.tags">
                    {{ tag }}
                  </div>
                </div>

                <a class="btn-link mt-4 d-inline-block" [routerLink]="['/portfolio', card.url.slice(1)]"
                  (click)="onCaseStudyClick(card.id)">
                  View Case Study
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M5 12.5L19 12.5M19 12.5L12 5.5M19 12.5L12 19.5" stroke="#121212" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>