@import '../../bootstrap-imports';

p{
  margin-bottom: 0;
}
.masthead {
  position: relative;
  overflow: hidden;
  background-color: #DCCDF9;
  .breadcrumb {
    border-bottom: 1px solid black;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
 .img-cap {
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: flex-end;
      padding-left: 80px;
    }
  }

  

.current-page {
  font-weight: 600;
}

.outer {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.btn-style {
  padding: 12px 14px;
  border-radius: 77px;
  width: 100%;

  @include media-breakpoint-up(md){
    padding: 12px 24px;
    width: auto;
  }
}


.section-header {
  font-weight: 600;
  max-width: 100%;
  line-height: 1.3;

  @include media-breakpoint-up(md) {
    max-width: 81%;
  }
}



.brands {
    
    background-color: #fff;

    
}

@media (max-width: 767.98px) {
    .custom-gap-mobile {
        gap: 24px !important;

    }
}


.brand-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

// @media(max-width:767px) {
// .brand {

// }
// }

.carousel-header {
    color: #666;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 24px;
}

@media(max-width:767px) {
    .carousel-header {

        font-size: 20px;
    }
}

.carousel-container {
    overflow: hidden;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0;
}

.carousel-track {
    display: flex;
    animation: scroll 30s linear infinite;
    width: max-content;
    gap: 80px;
}

.carousel-slide {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:767px) {
    .carousel-slide img {
        max-height: 36px !important;
    }
}

.carousel-slide img {
    max-height: 40px;
    object-fit: contain;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.carousel-slide img:hover {
    filter: grayscale(0%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}



.service-header {

  margin-bottom: 24px;
}

.service-inner-para {
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

.work {
    background-color: #fafafa;
}

.our-work {
    margin-bottom: 12px;
}


.brand-strategy-inner-col {

  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include media-breakpoint-up(xs) {
    padding-top: 36px;
  }

  @include media-breakpoint-up(sm) {
    padding-top: 36px;
  }

  @include media-breakpoint-up(md) {
    padding-left: 20px;
    padding-top: 24px;
  }

  @include media-breakpoint-up(lg) {
    padding-left: 80px;
    padding-top: 0;
  }
}

 
// @media (max-width: 767px) {
//   .work {
//     padding: 40px 0;
//   }
// }

// .section-content{
//     padding-top: 48px;
//     @include media-breakpoint-up(lg){
//         padding-top: 80px;
//     }
// }

.sass-design{
background-color: #FAFAFA;
}

.badges-wrapper {
    flex-wrap: wrap;
}
.badge-work {

    color: #000;
    margin-top: 0.5rem;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.21px;
    padding: 4px 12px;
    border: 1px solid #f0f0f0;
    background-color: #FAFAFA;
    border-radius: 999px;

    @include media-breakpoint-up(xl) {
        padding: 4px 8px;
        font-size: 14px;
    }
}

.card{
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            align-items: start;
            flex-direction: column;
            border: 1px solid #ebebeb;
}

.card{
      border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: start;
    flex-direction: column;
    border: 1px solid #ebebeb;
    flex-grow: 1;
}
.card-body{
  padding: 24px 18px;

}
  .card-body p{
    color: #424242;
  }
.card-title{
  margin-bottom: 12px;
  color: #121212 !important;
  font-weight: 600;
}

.cards {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 12px;
  margin-bottom: 0px;

  @include media-breakpoint-up(xs) {
    margin-bottom: 24px;
  }

  @include media-breakpoint-up(md) {
    padding-left: 24px;
  }

}

.card-icon {
  border-radius: 9999px;
  background-color: #C7E2FE;
  padding: 3px;
}

.card-header h3 {
  color: #fff;
  font-size: 18px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }
}

.card-para p {
  font-size: 14px;
  color: #cccccc;
  font-weight: 400;
  line-height: 22px;

  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}


.buzz{
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  @include media-breakpoint-up(lg){
    padding-left: 40px;
    gap: 16px;
  }
  .Process-para{
    color: #4d4d4d;
      font-size: 16px;
@include media-breakpoint-up(lg){
  font-size: 18px;
}
  }

.buzz-para{
  font-size: 16px;
  @include media-breakpoint-up(lg){
    font-size: 18px;
  }
}
}



.card{
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            align-items: start;
            flex-direction: column;
            border: 1px solid #ebebeb;
}
.step {
    margin-bottom: 24px;
}

.step span {
    border-radius: 61px;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 600;

    @include media-breakpoint-up(lg) {
        font-size: 16px;
    }
}

.step .step-1 {
    background-color: #f4f0fe;
    border: 1px solid #f4f0fe;
    color: #42307D;
}

.step .step-2 {
    background-color: #fef6fe;
    border: 1px solid #fef6fe;
    color: #752476;
}

.step .step-3 {
    background-color: #f1f9ff;
    border: 1px solid #f1f9ff;
    color: #174C9E;
}

.step .step-4 {
    background-color: #ECFDF3;
    border: 1px solid #ECFDF3;
    color: #05603A;
}

// .section-content{
//     padding-top: 48px;
//     @include media-breakpoint-up(lg){
//         padding-top: 80px;
//     }
// }

.list-item p{
  font-size: 16px;
  color: #535862;

  @include media-breakpoint-up(md){
    font-size: 18px;
  }
}
.card-heading{
  color: #121212 !important;
  background-color: white;
  border-bottom: none;
}
.card-wrap{
  padding: 32px 32px 0 32px;
}
.inner-card-wrapper{
  padding: 32px;
}



.inner-wrapper{
  margin-top: 32px;
  gap: 32px;
  @include media-breakpoint-up(lg){
    margin-top: 40px;
  }
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include media-breakpoint-up(lg){
    gap: 50px;
  }
}
.model{
  margin-bottom: 0;
  color: #666666;
}

.common{
  box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08), 0px 4px 6px -2px rgba(10, 13, 18, 0.03);

}

.numbers {
    display: flex;
    padding: 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    margin-top: 32px;
    @include media-breakpoint-up(lg){
      margin-top: 50px;
    }
}

.ist-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
}

.ist-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.ist-child p {
    color: #424242;
}

.ist-item p{
  color: #666666;
}

.two{
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.accordion-item {
    background: #fff;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.accordian-inner {
    padding: 20px 12px;
    border-bottom: 1px solid #ebebeb !important;
}

// .accordion-item:last-child .accordian-inner {
//     border-bottom: none !important;
// }



.accordion {
    border-radius: 16px;
    padding: 16px;
    .accordion-header {
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .accordion-collapse {
        margin-top: 10px;
    }

    .accordion-button {
        background: none;
        border: none;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
        padding: 0;
        flex: 1;
        color: #000;
        box-shadow: none;
    }

    .accordion-body {
        font-size: 1rem;
        line-height: 1.6;
        padding: 0;
    }
}

.wrap{
  @include media-breakpoint-up(lg){
    padding-right: 80px;
  }
}
