
@media (max-width: 550px) {
   .join-us {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}
  
/* MAIN WRAPPER */
.slider-comparison-wrapper {
    position: relative;
    display: inline-block;
    margin: 60px 0; /* Extra space for labels */
  }
  
  /* LABEL STYLES */
  .comparison-label {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 10; 
    padding: 5px 10px;
    border-radius: 20px;
  }
  
  .before-label {
    top: -45px;
    left: 20px;
  }
  
  .after-label {
    bottom: -45px;
    right: 20px;
  }
  
  .label-arrow {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .after-label .label-arrow {
    transform: scaleY(-1); /* Point right for 'After' */
  }
  
  .label-text {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    white-space: nowrap;
  }
  
 
  
  /* Other existing slider styles remain unchanged */

.ba-slider-container {
    position: relative;
    overflow: visible; 
    z-index: 10;
    border-radius: 1rem ;
    max-width: 800px;
    margin: 0 auto;
}

.ba-image-container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    box-shadow: 4px 3px 27px 4px #21202070 !important;
}

.ba-image-before {
    display: block;
    width: 100%;
    height: auto;

}

.ba-image-after-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.ba-image-after {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.ba-slider-handle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #000000;
    transform: translateX(-50%);
    z-index: 10;
    cursor: ew-resize;
}

.ba-slider-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 20;
}

.ba-slider-button svg {
    width: 24px;
    height: 24px;
}


.pb-3a{
  padding-bottom: 1rem;
  list-style-type: none;
}
.blog-content-image{
  margin: 20px 0;
}
.blog-content-image img{ 
  width: 100%;
}

.highlight {
    border-left: 4px solid #3165de;
    padding: 0 0 0 10px;
    border-radius: 15px;
}

