@import "assets/scss/manrope";
@import"assets/scss/inter";
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap-imports';
@import '../node_modules/swiper/swiper-bundle.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-padding-top: 4.5rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Inter";
  color: var(--system-black, #121212);
}

.app-wrapper {
  height: 100vh;
  overflow-y: auto;
}


@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;

  }
}

/* Overriding Boostrap Styles starts */
.btn {
  border-radius: 1.25rem;
}

.btn-link {
  background-color: transparent;
  color: #121212;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: solid 1px #121212;
  border-radius: 0;
  font-weight: 500;

  &:hover {
    color: #4a4a4a;
    border-bottom-color: #4a4a4a;
  }
}

.btn-primary {
  background-color: #121212;
  border-color: #121212;

  &:hover {
    background-color: #4a4a4a;
  }

  &:active,
  &.active,
  &:not(:disabled):not(.disabled):active {
    background-color: rgb(170, 159, 159);

  }
}

.btn-outline-primary {
  color: #121212;
  border-color: #121212;

  &:hover {
    background-color: #121212;
  }

}

.btn-lg,
.btn-group-lg>.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
}
/* Overriding Boostrap Styles ends */

/* App specific styles starts */
h1, h2,
.h1, .h2 {
  font-family: 'Manrope';
}

h1,
.h1 {
  font-weight: 700;
}

h2,
.h2 {
  font-weight: 600;
}

@include media-breakpoint-up(xl) {
  h1 {
    font-size: 2.65rem;
  }
}

.font-weight-600 {
  font-weight: 600 !important;
}

.bg-color-primary {
  background-color: #121212;
  color: #fff;
}

.color-primary {
  color: #121212;
}

.section-heading-tag {
  color: #1C6DBE;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
}

.section-byline {
  color: rgba(0, 0, 0, 0.60);
  font-size: 1.25rem;
  line-height: 1.4;
  /* 150% */
}

// 
.theme-color-bg-dark {
  background-color: #121212;
}

.theme-color-bg-light-blue {
  background-color: #C7E2FE;
}

.theme-color-bg-purple {
  background-color: #c4b1f9;
}

.theme-color-bg-light-yellow {
  background-color: #FFFBF4;
}

.theme-color-bg-yellow {
  background-color: #FFF0D9;
}

.theme-color-bg-dark-yellow {
  background-color: #FFE27C;
}

.badge-anarish {
  color: #121212;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.21px;
  padding: 9px 12px;
  border: 1px solid var(--system-black, #121212);

  @include media-breakpoint-up(xl) {
    font-size: 0.85rem;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* App specific styles ends */
.row-reduce-margin {
  margin-left: 6px;
  margin-right: 6px;

  >* {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.staff {
  color: #121212;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
}

section {
  padding: 5rem 0rem 4rem;
  @include media-breakpoint-up(lg) {
    padding: 5rem 4rem;
  }
  &.masthead {
    padding-top: 7.5rem;
    min-height: 616px;
    h1 {
      margin-bottom: 1.5rem;
    }
    .sub-heading {
      font-size: 0.875rem;
      color: #424242;
      font-weight: 500;
      margin-bottom: 24px;
      font-family: "Manrope";
      @include media-breakpoint-up(md) {
        font-size: 1rem;
      }
      @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
        margin-bottom: 32px;
      }
    }
  }
}

.alternate_bg {
  background-color: #fafafa;
}

.nav-link-white {
  color: white !important;

  &:hover {
    color: #ccc !important;
  }
}

.nav-content-black {
  color: black !important;

  &:hover {
    color: black !important;
  }
}

.system-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  display: inline-block;
  border-bottom: 1px solid white;
  padding-bottom: 12px;
}

.system-section-heading {
  color: #4A4A4A;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.48px;
  margin-bottom: 14px;
  margin-top: 30px;
}

.next-study {
  color: #121212;
  font-size: 22px;
  line-height: 1.4;
}

.next-system {
  cursor: pointer;
  color: #121212;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
  border-bottom: 1.5px solid #121212;
  text-decoration: none;
}

.system-content {
  color: #4A4A4A;
  font-size: 18px;
  line-height: 1.4;
}

.page-section .section-solution {
  background: var(--Label-gradient, linear-gradient(54deg, #373FFF 15.02%, #3ACAF8 82.83%));
  background-clip: text;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}


.services-icon .circle {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #fff;
  border: solid 7px #ffc800;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.text-left {
  text-align: left !important;
}


.team-member {
  margin: 20px 20px 3rem 20px;
}

.team-member .testimonial {
  background-color: #fff;
  padding: 12px;
  font-size: 14px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 0px 9px 2px #bdc0c3;
}

.team-member .arrow {
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #bdc0c3;
  position: absolute;
  left: 50px;
  bottom: -10px;
}

.team-member img {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.breadcrumb p {
  margin-bottom: 0;
  padding-bottom: 8px;
  font-weight: 500;
}

.team-member h4,
.team-member .h4 {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.img-brand {
  height: 2.75rem;
}



// common styles

section#contact .section-heading {
  color: #fff;
}

.page-section {
  padding: 0;
}

@include media-breakpoint-up(xl) {

  .page-section h2.section-heading,
  .page-section .section-heading.h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1.4;
  }

  .page-section h3.section-subheading,
  .page-section .section-subheading.h3 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.09px;
  }
}

/* Add this to your global or component styles */

.offcanvas.offcanvas-end {
  transition: transform 0.4s ease-in-out;
}

.offcanvas.offcanvas-end:not(.show) {
  transform: translateX(100%);
}

.offcanvas.offcanvas-end.show {
  transform: translateX(0%);
}

/** Common styles to be used in all BLOGS **/
.blog-details-page {
  .blog-content-wrapper {
    h3 {
      font-size: 1.1rem;
    }

    ul,
    ol {
      padding-left: 24px;

      li {
        margin-bottom: 8px;
      }
    }

    @include media-breakpoint-up(lg) {
      h2 {
        font-size: 1.5rem;
      }

      h3 {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .blog-content {
      section {
        padding: 0 0 2.25rem;
      }

      section:last-of-type {
        padding: 0;
      }

      h2,
      h3,
      h4 {
        margin-bottom: 16px;
        font-weight: 600;
        color: #121212;
      }

      .sub-blog-section {
        margin-bottom: 1.5rem;
      }
    }
  }
}

/** Common styles to be used in all blogs Ends here**/