@import '../../bootstrap-imports';

.masthead { 
  position: relative;
  overflow: hidden;
   
  .masthead-text {
    padding-bottom: 6rem;
    @include media-breakpoint-up(lg) {
      padding-bottom: 12rem;
    }
  }
  .img-wrapper {
    display: flex;
    justify-content: center;
    border: none;
    width: fit-content;
    height: 100%;

    @include media-breakpoint-up(lg) {
      justify-content: start;
    }
    img {
      height: 100%; 
      position: relative;
      top: 0%;
      left: 0;
      z-index: 2;
    } 
  }
  .background-img {
    position: absolute;
    left: 36%;
    top: -10%;
    z-index: 1;
    fill: rgba(255, 207, 36, 0.20);
    @include media-breakpoint-up(xl) {}
    left: 30%;

  }
}

section {
  .align-center {
    display: flex;
    align-items: center;
  }
  color:#121212;
  img {
    max-width: 70%;
  }
  p {
    color: #121212;
    line-height: 1.6;
    /* 177.778% */
  }

  .balanced {
    img {
      max-width: 100%;
      z-index: 3; 
    }

    .img1 {
      padding: 0;
      margin: 0;
      position: relative;
      z-index: 2;
      max-width: 50%;
      width: fit-content;
      height: fit-content;

    }

    .img1 {
      top: 0%;
    }


    .img1::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
      background-color: #FFE27C;
      transform: rotate(4deg);
    }
  }

  .iterative-design {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      aspect-ratio: 1/1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      width: 80%;
      padding: auto;
      gap: 10px;
      border-radius: 3.401px;
      background: rgba(255, 240, 216, 0.20);
    }

    .card1,
    .card2,
    .card3 {
      z-index: 0;
      position: absolute;
      border-radius: 10px;
      background-size: cover;
      height: 70%;
      width: 70%;
      transition: all 1s;
    }

    .card1 {
      transform-origin: bottom left;
      background-image: url("../../assets/img/portfolio/ms/Card=1.avif");
      transform: rotate(0deg);
      animation: animate1 4s linear infinite alternate; 
    }
 
    .card2 {
      background-image: url("../../assets/img/portfolio/ms/Card=2.avif");
      transform-origin: bottom left;
      transform: rotate(-4deg);
      animation: animate2 4s linear infinite alternate;
    }

    .card3 { 
      background-image: url("../../assets/img/portfolio/ms/Card=3.avif");
      background-position: center center;
      transform: rotate(+4deg);
      transform: translateX(0);
      animation: animate3 4s linear infinite alternate;
    }
  
    @keyframes animate1 {
      0%,
      20% {
        transform: rotate(-2deg) translateX(-5px);
        z-index: 3;
      }

      27%,
      47% {
        transform: rotate(2deg) translateX(5px);
        z-index: 2;
      }

      54%,
      74% {
        transform: rotate(-5deg) translateX(0);
        z-index: 1;
      }

      80%,
      100% {
        transform: rotate(-1deg) translateX(0);
        z-index: 0;
      }
    }

    @keyframes animate2 {

      0%,
      20% { 
        transform: rotate(4deg) translateX(5px);
        z-index: 1;
      }

      27%,
      47% {
        transform: rotate(-5deg) translateX(-5px);
        z-index: 3;
      }

      54%,
      74% {
        transform: rotate(-2deg) translateX(10px);
        z-index: 2;
      }

      80%,
      100% {
        transform: rotate(4deg) translateX(0);
        z-index: 0;
      }
    }

    @keyframes animate3 {

      0%,
      20% {
        transform: rotate(-5deg) translateX(5px);
        z-index: 2;
      }

      27%,
      47% {
        transform: rotate(-1deg) translateX(-5px);
        z-index: 1;
      }

      54%,
      74% {
        transform: rotate(4deg) translateX(10px);
        z-index: 3;
      }

      80%,
      100% {
        transform: rotate(6deg) translateX(0);
        z-index: 0;
      }
    }
  }
  .our-services {
    overflow: hidden;

    img {
      border-left: solid .5rem #121212;
      border-top: solid .5rem #121212;
      border-right: solid .5rem #121212;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
  }


  .next-portfolio {
    background-image: url(../../assets/img/portfolio/ms/next-dm.png);
   
  }
 
}