<main class="theme-color-bg-light-yellow">
    <section class="masthead theme-color-bg-yellow">
        <div class="container">
            <div class="row row-y-gap">
                <div class="col-12 col-lg-6 col-xxl-5 d-flex align-items-center pe-lg-5">
                    <div class="pe-lg-3 masthead-text">
                        <h1 class="heading">
                            Mobile App Design
                        </h1>
                        <h1 class="intro-header mt-3">
                            Innovative Mobile App Design for a Connected World
                        </h1>
                        <p class="mt-4">
                            <span class="badge rounded-pill badge-anarish me-3">
                                Design
                            </span>
                            <span class="badge rounded-pill badge-anarish">
                                Application development
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xxl-7 position-relative mt-3 mt-lg-0">
                    <div class="img-wrapper">
                        <img src="../../assets/img/portfolio/ms/dashboard.png" class="img-fluid" alt="Mobile solutions" />
                    </div>
                </div>
            </div>
        </div>
        <svg class="background-img d-none d-xl-block " width="977" height="730" viewBox="0 0 977 640"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M976.784 721.85L0 721.849L368.139 240.751L407.5 0L928.5 1.57089e-05L553.149 334.376L976.784 721.85Z">
            </path>
        </svg>
    </section>

    <section class="features">
        <div class="container">
            <div class="row row-y-gap">

                <div class="col-12 col-lg-6 order-lg-2 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2>
                            Comprehensive solutions from strategy to screen
                        </h2>
                        <p class="description">
                            Mobile App solutions that encompass everything from strategic planning to
                            the final touches of the user interface, ensuring a comprehensive approach that caters to every aspect of the user's needs and business objectives.
                        </p>
                        <ul class="">
                            <li>
                                Consistency, Simplicity and Clarity
                            </li>
                            <li>
                                UI/UX Design
                            </li>
                            <li>
                                IOS and Android Development
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="our-services d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/portfolio/ms/our-services.png" class="img-fluid" alt="Mobiles" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row spacing">

                <div class="col-12 col-lg-6 order-lg-2 d-flex justify-content-center">
                    <div class="features-content ps-3">
                        <h2 class="mb-4"> 
                            From insights to market-ready apps, a joint venture
                        </h2>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <h3>User-Centric Design</h3>
                                <p> We delve into the mobile user's journey, tailoring experiences for maximum interaction and satisfaction.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Innovative Solutions</h3> 
                                <p>We leverage the latest technological advancements to ensure our apps are at the forefront of innovation.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Collaborative Development</h3> 
                                <p> We promote a transparent and inclusive approach to app creation, involving all stakeholders in the journey from concept to completion.</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-lg-6 order-lg-2">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/portfolio/ms/what-we-deliver.png"  alt="market-ready-apps" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row spacing">

                <div class="col-12 col-lg-6 order-lg-2 d-flex">
                    <div class="d-flex flex-column justify-content-center">
                        <h2 class="mb-4">Delivering excellence in mobile app design and development</h2>
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <h3>Quality & Performance</h3>
                                <p> Delivering apps that excel in both design and functionality.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Smooth Animations</h3>
                                <p> Enhances the user experience without causing delays.</p>
                            </li>
                            <li class="mb-3">
                                <h3>Sustainable Practices</h3>
                                <p> Building apps with long-term value and support.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6 order-lg-1">
                    <div class="iterative-design">
                        <div class="wrapper">
                            <div class="card1"></div>
                            <div class="card2"></div>
                            <div class="card3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="balanced spacing">
                <div class="row gy-3">
                    <div class="col-12 col-lg-6 order-lg-1 d-flex">
                        <div class="d-flex flex-column justify-content-center">
                            <h2>
                                Harmonizing Innovation and Usability
                            </h2>
                            <p class="description me-3">Our mobile solutions are a testament to our commitment to
                                balance, merging cutting-edge technology with user-friendly design.
                            </p>
                            <p class="description me-3">
                                We meticulously craft our mobile applications to deliver not only outstanding
                                performance and robust security but also unparalleled usability, ensuring a cohesive
                                experience across all devices.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 order-lg-2 d-flex align-items-center justify-content-center">
                        <div class="img1">
                            <img src="../../assets/img/portfolio/ms/features4.png" class="img-fluid" alt="usability" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 last-section">
        <div class="container">
            <p class="mb-2">
                Next Case Study
            </p>
            <!-- <p class="mb-4">
                <a class="" routerLink='../6'>
                    Digital Marketing
                    <img src="assets/img/icons/arrow-right.png" alt="digital-marketing" class="ml-3" class="img-fluid" />
                </a>
            </p> -->
            <p class="mb-4">
                <a class="" [routerLink]="['/services/digital-marketing']">
                  Digital Marketing
                  <img src="assets/img/icons/arrow-right.png" alt="digital-marketing" class="ml-3 img-fluid" />
                </a>
              </p>
              
        </div>
        <div class="next-portfolio">
            <!-- -->
        </div>
    </section>
</main>