@import '../../bootstrap-imports';

.masthead {
  position: relative;
  overflow: hidden;
  background-color: #C4B1F9;

  .background-img {
    position: absolute; 
    left: 36%;
    top: -10%; 
    z-index: 1;  
    fill: #8468D1;
  } 
}
  
section {  
  &.supported-modules {  
    color:#121212;
    p {
      line-height: 1.6; 
    }
    video { 
      max-width: 71%;
    }
  }
 
  .next-portfolio {
    background-image: url(../../assets/img/portfolio/crms/next-hrms.png);
  }
} 

.custom-dropdown {
  .custom-btn {
    border: 1px solid #5b4d7a;
    background-color: transparent;
    color: #1f1f1f;
    border-radius: 12px;
  }

  .dropdown-menu {
    background-color: #fffaf3;
    width: 320px;
  }

  .custom-dropdown-item {
    background-color: #fffaf3;

    &:hover {
      background-color: white;
    }

    .icon-box {
      width: 48px;
      height: 48px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: white;
    }

    .bg-orange {
      background-color: #fddbcc;
      color: #d96b3b;
    }

    .bg-blue {
      background-color: #dce9fe;
      color: #3975d9;
    }

    .bg-purple {
      background-color: #e3dcfa;
      color: #7b5bd9;
    }
  }
}
